body {
  font-family: "Arial", sans-serif;
}

.container {
  margin-top: 50px;
}

.form-label {
  font-weight: bold;
}

fieldset {
  border: 2px solid #007bff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

.form-control,
.form-select {
  width: 100%;
}
